<app-navbar></app-navbar>
<div class="container mt-4">
<div class="cart-container">
    <h2>Shopping Cart:</h2>
    <div class="total-price">Total Cart Price: <span class="price">{{total}} USD</span></div>
  
    <div class="cart-item" *ngFor="let item of items">
      <div class="item-image">
        <img [src]="item.product.images[0]" alt="">
      </div>
      <div class="item-details">
        <div class="item-title">{{ item.product.title }}</div>
        <div class="item-price">price: {{ item.product.price }} USD</div>
        <button class="remove-button" >Remove</button>
      </div>
      <div class="item-quantity">
        <button class="quantity-btn" (click)="addToCart(item.product.id, -1)">-</button>
        <span>{{ item.quantity }}</span>
        <button class="quantity-btn" (click)="addToCart(item.product.id, 1)">+</button>
      </div>
    </div>
</div>
</div>
  